article{
    background-color: #B89D7E;
    margin: 5px;
    padding: 5px;
    display: block;
}
.song{
    display: inline-block;
}
.imagen{
    width: 10%;
    display:inline-block;
}

.points{
    display: inline-block;
    vertical-align: top;

}
