body{
    overflow: auto;
    width:60%;
    display: inline-flex;
    justify-content: center;
}
article{
    background-color: #B89D7E;
    margin: 5px;
    padding: 5px;
}
.song{
    display: inline-block;
}
.imagen{
    width: 10%;
    display:inline-block;
}

.points{
    display: inline-block;
    vertical-align: text-top;
    text-align: right;
    align-self: end;
}