body{
    background-color:#CDCDC0;;
}

button:hover::before {
    scale: 3;
}

button:hover {
    scale: 1.1;
}

button:active {
    scale: 1;
}


select {
    border: none;
    color: black;
    padding: 1em 1em;
    border-radius: 0.5em;
}

textarea {
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 1em;
}

figure {
    justify-content: center;
    align-items: center;
}
