<link rel="stylesheet" href="/footer/styles.css">
<div class="container-fluid" id="footer-container">
    <div id="footer-information-container">
        <div id="footer-about-container">
            <p id="about-us-title">About us</p>
            <p id="about-us-text">
                MisTops is a website that provides top lists of music, films, books, and more. We are a team of
                professionals who are passionate about the arts and entertainment. Our goal is to provide you with
                the best recommendations and rankings for your favorite media.
            </p>
        </div>
        <div id="footer-follow-container">
            <p id="follow-us-title">Follow us</p>
            <div  class="row row-cols-3 align-items-center" id="social-media-container">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter-x"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
        <div id="footer-contact-container">
            <p id="contact-us-title">Contact us</p>
            <div class="row align-items-center" id="contact-container">
                <i class="bi bi-whatsapp"> 123456789</i>
                <i class="bi bi-envelope"> mail&commat;example.com</i>
            </div>
        </div>
    </div>
    <div id="footer-copyright-container">
        MisTops &copy; 2024 MisTops. All rights reserved.
    </div>
</div>
