<main class="container-fluid" id="header-container">
  <button id="Button_Mis_Tops" routerLink="/">
    MisTops
  </button>
  <div id="Header_Buttons">

    <button id="Button_Profile"  routerLink="/profile">Profile</button>
    <button id="Button_Opinion"  routerLink="/opinion">Opinion</button>
    <button id="Button_Discover" routerLink="/discover">Discover</button>
    <button id="Button_Rankings"  routerLink="/my-rankings">My rankings</button>
    <button id="Button_Log_in" routerLink="/login">Log in</button>

  </div>

  <div class="header_buttons_small">
    <div class="dropdown">
      <button  (click)="loadMenuToggle()" type="button" class="btn btn-secondary header-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/images/menu.png"  alt="menu" class="menu-icon">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li (click)="loadProfileBody()" class="btn btn-secondary header-button">
          <img src="assets/images/usersettings.png" alt="profile" class="small-icon">
          Profile
        </li>
        <li (click)="loadOpinionBody()" class="btn btn-secondary header-button">
          <img src="assets/images/opinion.png" alt="opinion" class="small-icon">
          Opinion
        </li>
        <li (click)="loadDiscoverBody()" class="btn btn-secondary header-button">
          <img src="assets/images/discover.png" alt="discover" class="small-icon">
          Discover
        </li>
        <li (click)="loadMyRankingsBody()" class="btn btn-secondary header-button">
          <img src="assets/images/heart.png" alt="ranking" class="small-icon">
          Rankings
        </li>
      </ul>
    </div>

    <button id="mistops_small_button" type="button" class="btn btn-secondary header-button" routerLink="/">
      MisTops
    </button>

    <button id="login_small_button" type="button" class="btn btn-secondary header-button" routerLink="/login">
      <img src="assets/images/username.png" alt="Login" class="small-icon" height="512" width="512">
    </button>
  </div>
</main>
