
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Button_Mis_Tops {
  color:#B38867;
  font-size:200%;
}

*{
  border-radius: 8px;
  border: none;
  background-color: transparent;
}
#Header_Buttons {
  display: flex;
  text-align:right;
  gap: 3em;
}

#Button_Log_in {
  font-family: inter, sans-serif;
  background-color: #626D71;
  color:white;
  border-radius: 8px;
  padding: 7px 1em;
  font-size:130%;
}

.header_buttons_small{
  display:none;
}
@media screen and (max-width:768px) {
  #Button_Mis_Tops {
    display: none;
  }
  #Header_Buttons {
    display: none;
  }
  .header_buttons_small {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header_buttons_small .dropdown {
    display: block;
  }

  .dropdown-menu{
    display:none;
  }

  .header_buttons_small #mistops_small_button {
    color: #B38867;
    font-size: 130%;
  }

  .header_buttons_small .btn {
    background-color: transparent;
    border: none;
    color: #000000;
  }

  .menu-icon, .small-icon {
    width: 2em;
    height: 2em;
  }
}
