<div class="container">
  <h1 [id]="editingMode ? 'Title_Edit_Review' : 'Title_Your_Review'">{{ titleText }}</h1>
  <div class="content">
    <div id="Opinion_Elements" class="row row-cols-1 row-cols-lg-2">
      <div class="Opinion_image col d-flex flex-column align-items-center" >
        <img ngSrc="${{ bookData.imageURL }}" alt="book Image" id="Book Image" class="img-fluid">
      </div>
      <div class="Review d-flex flex-column align-items-center">
        <p id='Book_Title'>
          {{ bookData.title }}
        </p>
        <textarea [readonly]="!editingMode" id="Opinion_Text_Area"></textarea>
        <div class="row justify-content-between">
          <button (click)="toggleEditMode()" id="Button_Edit" class="edit-button">
            {{ editingMode ? 'Save' : 'Edit' }}
          </button>
          <select *ngIf="editingMode" [(ngModel)]="numberStar" id="Star_Rating_Button">
            <option *ngFor="let num of [1, 2, 3, 4, 5]" [value]="num">{{ num }}  <i class="bi bi-star-fill"></i></option>
          </select>
          <div class="edit-button" *ngIf="!editingMode">{{ numberStar }}  <i class="bi bi-star-fill"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
