<link rel="stylesheet" href="/body/OpinionPage/opinion_styles.css">
<div class="container">
  <h1 [id]="editingMode ? 'Title_Edit_Review' : 'Title_Your_Review'">{{ titleText }}</h1>
  <div class="content">
    <div id="Opinion_Elements" class="row row-cols-1 row-cols-lg-2">
      <div class="Opinion_image col d-flex flex-column align-items-center" >
        <img ngSrc="assets/images/booksample.png" alt="book Image" id="Book Image" class="img-fluid" height="600" width="400">
      </div>
      <div class="Review col-lg-6 d-flex flex-column align-items-center">
        <p id='Book_Title'>
          {{ bookTitle }}
        </p>
        <textarea [readonly]="!editingMode" id="Opinion_Text_Area"></textarea>
        <button (click)="toggleEditMode()" id="Button_Edit" class="edit-button">
          {{ editingMode ? 'Save' : 'Edit' }}
        </button>
      </div>

    </div>
  </div>
</div>
