.search{
    display: flex;
    margin: auto;
    align-self:center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}
.discovery_category {
    background-color: #F2E8E1;
    display:inline-flex;
    text-align: center;
    width: 45%;
    margin: 1em;
}