.search__input {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.search__input:active {
    transform: scale(0.95);
}

.search__input:focus {
    border: 2px solid grey;
}

.discovery_category{
    background-color: #F2E8E1;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 10em;
}
#Discover-Title {
    margin-left:5%;
    color: #b38867;
    font-size:280%;
    margin-bottom: 1%;

}
#Discover-Title::after {
    display:block;
    content: '';
    background-color: #f2e8e1;
    height: 1px;
    width: 100%;
}


