.discovery_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.search__input {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.search__input:active {
    transform: scale(0.95);
}

.search__input:focus {
    border: 2px solid grey;
}

.discovery_category {
    background-color: #F2E8E1;
    display:inline-flex;
    text-align: center;
    align-items: center;
    width: 40%;
    height: 10em;
    margin: 1em;
}
.discovery_category h1 {
    margin-right: auto;
    margin-left: auto;
}

