#popup-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

#popup-add-content {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  background-color: #f9f9f9;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
