.input {
    display: flex;
    align-items: center;
    gap: 1em;
}

.text-field-icon {
    width: 40px;
    height: 40px;
}

.text-field {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    border-radius: 1em;
    width: 90%;
}

#eye-icon {
    width: 40px;
    height: 40px;
}