#tops-section {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 0 5%;
}

#home-welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 5em;
}

#home-welcome-text {
  font-size: 3rem;
  text-align: center;
}

#home-welcome-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #1F506B;
  color: white;
  border-radius: 0.5em;
}

.container {
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 2em;
  padding: 1em 0;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 calc(30% - 1em);
  min-width: 12em;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2e8e1;
  border-radius: 1em;
  overflow: hidden;
  padding: 1em;
}

.slide img {
  width:259px;
  height: 384px;
}

.slide h3 {
  font-size: 1.8em;
  color: #b38867;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide p {
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-top: auto;
  padding: 5px;
}

.slide button {
  font-size: 1.2em;
  padding: 0.5em 1.5em;
  background-color: #1F506B;
  color: white;
  border: none;
  border-radius: 0.5em;
}
.carousel::-webkit-scrollbar {
  width: 12px;
}

.carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}
