#tops-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 10em;
  padding-right: 10em;
}

#best-rated-text-container {
  display: flex;
  justify-content: center;
}

#best-rated-text {
  font-family: inter, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #b38867;
}

#best-rated-text::after {
  display:block;
  content: '';
  background-color: #f2e8e1;
  height: 1px;
  width: 100%;
}
#home-welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 10em;
}

#home-welcome-text {
  font-size: 3rem;
}

#home-welcome-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #1F506B;
  color: white;
  border-radius: 0.5em;
}
