
.Line{
    border:none;
    height:2px;
    width: 1340px;
    background-color: #f2e8e1;
    margin-left:5%;
    margin-bottom: 5%;
}
.Opinion_Elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right:20%;
}
#Title_Your_Review {
    margin-left:5%;
    color: #b38867;
    font-size:280%;
    margin-bottom: 1%;
}

#Book_Info{
    align-items: center;
    display:inline;
}

#Book_Image {
    text-align:center;
    border-color: black;
    border-radius: 8px;
    width: 400px;
    height:440px;
    margin-left: 20%;
    background-color:azure;
}

#Book_Title {
    color: #7A695D;
    font-size: 130%;
}
