<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Top Page</title>
  <link rel="stylesheet" href="/body/rankings/top_ranking/styles.css" />
</head>

<body>
<h1 id="top_name">{{topName}}</h1>

<section class="scroller container" >
  <article class="vertical-entry" *ngFor="let top of topEntries">
    <div>
      <img src="../../assets/sample.jpg" class="imagen">
      <div class="entry_descriptor">
        <h1 class="entry_name">{{top.name}}</h1>
        <h2 class="entry_author">{{top.author}}</h2>
      </div>
    </div>
    <p class="points">{{top.value}}</p>
  </article>
</section>

<button class="share">Share your ranking</button>
</body>
