body{
    background-color:#CDCDC0;;
}

button{
    font-family: inter;
    font-size: 120%;
    background-color: transparent;
    border: none; 
}

#Button_Mis_Tops {
    color:#B38867; 
    font-size:200%; 
    margin-left: 5%;
    
}

#Header_Buttons {
    text-align:right;
}

#Button_Discover {
    margin-right: 5%;
    margin-left: 5%;
}
#Button_Rankings {
    margin-right: 5%;
}

#Button_Log_in {
    background-color: #626D71; 
    color:white; 
    border-radius: 8px; 
    width: 126px; 
    height:48px;
    margin-right: 5%;
}

.Line{
    border:none;
    height:2px;
    width: 1340px;
    background-color: #f2e8e1;
    margin-left:5%;
    margin-bottom: 5%;
}
.Opinion_Elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right:20%;
}
#Title_Your_Review {
    margin-left:5%;
    color: #b38867;
    font-size:280%;
    margin-bottom: 1%;
}

#Book_Info{
    align-items: center;
    display:inline;
}

#Book_Image {
    text-align:center;
    border-color: black;
    border-radius: 8px;
    width: 400px;
    height:440px;
    margin-left: 20%;
    background-color:azure;
}

#Book_Title {
    color: #7A695D;
    font-size: 130%;
}
#Opinion_Text_Area {
    width: 450px;
    height: 300px;
    background-color: #f2e8e1;
    border-radius:8px;
    border-color:transparent; 
}

#Button_Edit {
    background-color: #626D71; 
    color:white; 
    border-radius: 8px; 
    width: 70px; 
    height:35px;
    margin-top:5%;
}

#Title_Edit_Your_Review{
    margin-left:5%;
    color: #b38867;
    font-size:280%;
    margin-bottom: 1%;
}

.Opinion_Buttons{
    display:inline;
    flex-direction: row;
    align-items: center;

}

#Select_Button {
    background-color: #626D71; 
    color:white; 
    border-radius: 8px; 
    width: 70px; 
    height:35px;
    margin-top:5%;
}
#Button_Done {
    background-color: #626D71; 
    color:white; 
    border-radius: 8px; 
    width: 70px; 
    height:35px;
    margin-top:5%;
}

#Edit_Opinion_Text_Area{
    width: 450px;
    height: 300px;
    background-color: #f2e8e1;
    border-radius:8px;
    border-color:transparent; 
}

#Footer_text{
    color:#B38867; 
    font-size:150%; 
    position:fixed;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    /*text-align: center;*/
}
