body{
  background-color:#DBC7B6;
}

.vertical_scroller{
  height: 30em;
  overflow: auto;
  width: 50%;
  display: block;
  margin: 0 auto;
  align-self: center
}
.share{
  background-color: #48321D;
  color: white;
  display: block;
  margin: 0 auto;
}