#profile-main-text {
  margin-left:5%;
  color: #b38867;
  font-size:280%;
  margin-bottom: 1%;

}
h1::after {
  display:block;
  content: '';
  background-color: #f2e8e1;
  height: 1px;
  width: 100%;
}

#profile-info {

  background-color: #F2E8E1;
  padding: 20px;
  border-radius: 10px;
  height: auto;
}

.edit-button {
  text-align: center;
  font-family:sans-serif;
  background-color: #626D71;
  border-color: transparent;
  color:white;
  border-radius: 8px;
  padding: 10px 20px;
}

#interface-config {
  margin-top: 40px;
  text-align: left;
}
#Interface {
  margin-left:5%;
  color: #b38867;
  font-size:280%;
  margin-bottom: 1%;

}
h2::after {
  display:block;
  content: '';
  background-color: #f2e8e1;
  height: 1px;
  width: 100%;
}

#theme {
  color: #7A695D;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#light-mode-button{
  background-color: #B38867;
}
#dark-mode-button{
  background-color: #936F54;
}
