  <div class="review row row-cols-1 row-cols-md-2 border align-items-center" *ngIf="review">
    <div class="user-container col col-md-3 align-items-center">
      <div class="row align-items-center">
        <div class="col-auto">
          <img class="img-fluid user-image" alt="" src="../../../../assets/images/profile.png"/>
        </div>
        <div class="col-8 col-md">
          <div class="row row-cols-2 row-cols-md-1 align-items-center">
            <p class="user-name">{{user?.username}}</p>
            <div class="col-8 col-md-12">
              <div class="div flex-column justify-content-center">
                <p class="user-score">{{ review.rating }}⭐</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review-container col-12 col-md-8">{{review.review}}</div>
  </div>
