#summary, .review {
    display: flex;
    gap: 5em;
    justify-content: center;
    padding-left: 10em;
    padding-right: 10em;
}

#summary-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.vertical-crop-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 25em;
    overflow: hidden;
    margin: 0;
}

#summary-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#detail-score, .user-score {
    display: flex;
    flex-direction: column;
    background: #f2e8e1;
    border-radius: 1em;
    padding: 0.5em 1em;
    justify-content: center;
    gap: 1em;
    font-weight: bolder;
}

#detail-add-button {
    background: #1F506B;
    color: white;
    padding: 0.5em 1em;
    width: 7em;
    border-radius: 1em;
    border: none;
}

#summary-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150em;
}

#synopsis-container {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    width: 100%;
    height: 14em;
}

#textarea-synopsis, .user-textarea {
    max-height: 10em;
    width: 100%;
    height: 100%;
}

#summary-image {
    border-radius: 1em;
}

#available-list {
    display: flex;
    gap: 1em;
    width: 100%;
}

.available-image {
    height: 40px;
}

#summary-section, #reviews-section {
    display: flex;
    flex-direction: column;
    padding-left: 10em;
}

#reviews-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2em;
}

.user-name {
    font-family: inter, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    margin: 0;
}

.user-image {
    width: 5em;
    height: 5em;
}

.review-container {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    width: 100%;
    justify-content: center;
}
