button {
    font-family: inter, sans-serif;
    font-size: 130%;
    background-color: transparent;
    border: none;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: #995D21;
}

#Button_Mis_Tops {
    color:#B38867; 
    font-size:200%; 
}

#Header_Buttons {
    display: flex;
    text-align:right;
    gap: 3em;
}

#Button_Log_in {
    font-family: inter, sans-serif;
    font-size:130%; 
    background-color: #626D71; 
    color:white;
    border-radius: 8px;
    padding: 7px 1em;
}
