
#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Button_Mis_Tops {
    color:#B38867; 
    font-size:200%;
}

*{
    border-radius: 8px;
    border: none;
    background-color: transparent;
}
#Header_Buttons {
    display: flex;
    text-align:right;
    gap: 3em;
}

#Button_Log_in {
    font-family: inter, sans-serif;
    background-color: #626D71; 
    color:white;
    border-radius: 8px;
    padding: 7px 1em;
    font-size:130%;
}

@media screen and (max-width:768px){
    #header-container{
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }

    #Header-Buttons, #Button_Log_in {
        flex-direction: column;
        font-size:1em;
    }

    #Button_Mis_Tops {
        font-size: 1.5em;
    }

}
